<a href="https://colab.research.google.com/github/rafawithR/Gamtoreview/blob/main/Review_gametogenesis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Supplementar Material - Sexual and Gametogenesis on Sea
Anemones: a Systematic Scope Review 

(Spreadsheet investigation)

Rafael A. Brandão  06/02/2023


# All data investigation was done using the gametrev2.csv spreadsheet

In [1]:
import pandas as pd
import matplotlib as mpl
import seaborn as sbn

In [2]:
planilha = pd.read_csv('gametrev2.csv', on_bad_lines= 'skip', sep=';')
planilha.head()

,title,year,country,realm,province,lat,long,family,species,depth,...,field_work,periodicity,femepeak,malepeak,largoocy,fixation,hermaphro,spermclass,type_spermclass,environment_influence
0,Effects of flow-habitat on body size and repro...,1994.0,Sweden,Temperate Northern Atlantic,Northern European Seas,58°23.7'N,11°32.4'E,Metridiidae,Metridium senile,shallow,...,Yes,Monthly,June/September,NaN,NaN,NaN,No,No,NaN,NaN
1,An Ultrastructural Investigation of Spermiogen...,1972.0,United States,NaN,NaN,NaN,NaN,Actiniidae,Bunodosoma cavernata,shallow,...,No,NaN,NaN,NaN,NaN,NaN,No,No,NaN,NaN
2,"Trioecy, a Unique Breeding Strategy in the Sea...",2014.0,Israel,Temperate Northern Atlantic,Mediterranean Sea,NaN,NaN,Aiptasiidae,Aiptasia diaphana,shallow,...,Yes,Other,NaN,NaN,NaN,slide,Yes,Yes,Kruger and Schleyer,NaN
3,Seasonal Gametogenesis of Host Sea Anemone (En...,2015.0,China,Central Indo-Pacific,South China Sea,"22°24 '7"" N","114°23'11""E",Actiniidae,Entacmaea quadricolor,shallow,...,Yes,Monthly,NaN,September /October,NaN,NaN,No,Yes,Scott and Harrison 2009,Temperature
4,"Genetic subdivision in the subtidal, clonal se...",1996.0,Australia,Temperate Australasia,Southeast Australian Shelf,34°30S,150°55E,Sagartiidae,Anthothoe albocincta,shallow,...,Yes,Monthly,March/April,March/April,100.0,slide,No,No,NaN,NaN

## Types of dada in each column:

In [3]:
planilha.dtypes

title                     object
year                     float64
country                   object
realm                     object
province                  object
lat                       object
long                      object
family                    object
species                   object
depth                     object
gamete                    object
histology                 object
tempsal                   object
field_work                object
periodicity               object
femepeak                  object
malepeak                  object
largoocy                 float64
fixation                  object
hermaphro                 object
spermclass                object
type_spermclass           object
environment_influence     object
dtype: object

## Table shape:

In [ ]:
planilha.shape

(83, 23)

## Information on the type of data in each column and the number of non-nule values

In [ ]:
planilha.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   title                  65 non-null     object
 1   year                   65 non-null     float64
 2   country                65 non-null     object
 3   realm                  54 non-null     object
 4   province               54 non-null     object
 5   lat                    31 non-null     object
 6   long                   30 non-null     object
 7   family                 83 non-null     object
 8   species                83 non-null     object
 9   depth                  83 non-null     object
 10  gamete                 83 non-null     object
 11  histology              65 non-null     object
 12  tempsal                65 non-null     object
 13  field_work             65 non-null     object
 14  periodicity            51 non-null     object
 15  femepeak               49 non-null     object
 16  malepeak               37 non-null     object
 17  largoocy               43 non-null     float64
 18  fixation               52 non-null     object
 19  hermaphro              83 non-null     object
 20  spermclass             65 non-null     object
 21  type_spermclass        19 non-null     object
 22  environment_influence  19 non-null     object
dtypes: float64(2), object(21)
memory usage: 15.0+ KB

## Number of unique species studied (diversity):

In [8]:
especies = planilha['species'].unique()
print(len(especies))

48

## Total number of species studied (registers):

In [14]:
especies = planilha['species'].value_counts()
print(especies)

Actinia equina                5
Actinia fragacea              5
Metridium senile              4
Nematostella vectensis        4
Bunodosoma cavernata          4
Anthopleura elegantissima     3
Exaiptasia pallida            3
Aiptasia diaphana             3
Actinia tenebrosa             3
Entacmaea quadricolor         2
Condylactis gigantea          2
Sagartia troglodites          2
Cereus pedunculatus           2
Diadumene lineata             2
Protanthea simplex            2
Anemonia sulcata              2
Gonactinia  prolifera         2
Aiptasia pulchella            2
Epiactis prolifera            2
Urticina lofotensis           1
Sagartia elegans              1
Actinoporus elongatus         1
Glandulactis spetbergensis    1
Phymanthus punnulatus         1
Phymanthus strandesi          1
Actinia bermudensis           1
Anthopleura xanthogrammica    1
Epiactis lisbethae            1
Cribrinopsis fernaldi         1
Amphianthus dorhni            1
Aulactinia sinensis           1
Tricnidactis errans           1
Anthopleura dixoniana         1
Epiactis georgiana            1
Paracalliactis stephensoni    1
Phelliactis robusta           1
Phelliactis hertwig           1
Calliactis parasitica         1
Allantactis parasitica        1
Phymanthus crucifer           1
Bartholomea annulata          1
Anthopleura asiatica          1
Anthopleura handii            1
Anemonia viridis              1
Kadosactis commensalis        1
Amphianthus inornata          1
Anthothoe albocincta          1
Utricina crassicornis         1
Name: species, dtype: int64

## Number of times species were studied

In [7]:
especies = planilha['species'].value_counts(sort=False)
print(especies)

Metridium senile              4
Bunodosoma cavernata          4
Aiptasia diaphana             3
Entacmaea quadricolor         2
Anthothoe albocincta          1
Amphianthus inornata          1
Kadosactis commensalis        1
Exaiptasia pallida            3
Actinia equina                5
Aiptasia pulchella            2
Gonactinia  prolifera         2
Anthopleura elegantissima     3
Anemonia viridis              1
Actinia tenebrosa             3
Epiactis prolifera            2
Nematostella vectensis        4
Anthopleura handii            1
Diadumene lineata             2
Anthopleura asiatica          1
Sagartia troglodites          2
Actinia fragacea              5
Condylactis gigantea          2
Bartholomea annulata          1
Phymanthus crucifer           1
Anthopleura dixoniana         1
Allantactis parasitica        1
Protanthea simplex            2
Calliactis parasitica         1
Phelliactis hertwig           1
Phelliactis robusta           1
Paracalliactis stephensoni    1
Epiactis georgiana            1
Anthopleura xanthogrammica    1
Tricnidactis errans           1
Glandulactis spetbergensis    1
Anemonia sulcata              2
Urticina lofotensis           1
Sagartia elegans              1
Cereus pedunculatus           2
Actinoporus elongatus         1
Phymanthus strandesi          1
Actinia bermudensis           1
Phymanthus punnulatus         1
Epiactis lisbethae            1
Cribrinopsis fernaldi         1
Amphianthus dorhni            1
Aulactinia sinensis           1
Utricina crassicornis         1
Name: species, dtype: int64

## Species by family

In [ ]:
familia = planilha[['family', 'species']].value_counts().sort_index()
print(familia)

family          species
Actiniidae      Actinia bermudensis           1
                Actinia equina                5
                Actinia fragacea              5
                Actinia tenebrosa             3
                Anemonia sulcata              2
                Anemonia viridis              1
                Anthopleura asiatica          1
                Anthopleura dixoniana         1
                Anthopleura elegantissima     3
                Anthopleura handii            1
                Anthopleura xanthogrammica    1
                Aulactinia sinensis           1
                Bunodosoma cavernata          4
                Condylactis gigantea          2
                Cribrinopsis fernaldi         1
                Entacmaea quadricolor         2
                Epiactis georgiana            1
                Epiactis lisbethae            1
                Epiactis prolifera            2
                Urticina lofotensis           1
                Utricina crassicornis         1
Actinostolidae  Glandulactis spetbergensis    1
Aiptasiidae     Aiptasia diaphana             3
                Aiptasia pulchella            2
                Bartholomea annulata          1
                Exaiptasia pallida            3
Amphianthidae   Amphianthus dorhni            1
                Amphianthus inornata          1
Capneidae       Actinoporus elongatus         1
Diadumeniidae   Diadumene lineata             2
Edwardsiidae    Nematostella vectensis        4
Gonactiniidae   Gonactinia  prolifera         2
                Protanthea simplex            2
Hormathiidae    Allantactis parasitica        1
                Calliactis parasitica         1
                Paracalliactis stephensoni    1
                Phelliactis hertwig           1
                Phelliactis robusta           1
Incertae sedis  Tricnidactis errans           1
Kadosactinidae  Kadosactis commensalis        1
Metridiidae     Metridium senile              4
Phymanthidae    Phymanthus crucifer           1
                Phymanthus punnulatus         1
                Phymanthus strandesi          1
Sargatiidae     Anthothoe albocincta          1
                Cereus pedunculatus           2
                Sagartia elegans              1
                Sagartia troglodites          2
dtype: int64

## Number of studies by family per year

In [ ]:
familia = planilha[['family', 'year']].value_counts().sort_index()
print(familia)

family          year
Actiniidae      1964.0    1
                1970.0    1
                1971.0    1
                1972.0    1
                1974.0    1
                1975.0    1
                1976.0    1
                1979.0    3
                1981.0    3
                1982.0    3
                1983.0    2
                1984.0    4
                1989.0    1
                1991.0    1
                1992.0    1
                1995.0    1
                1996.0    1
                2007.0    1
                2009.0    1
                2013.0    1
                2015.0    2
                2019.0    1
                2021.0    1
                2022.0    1
                2023.0    1
Actinostolidae  1976.0    1
Aiptasiidae     1980.0    1
                2008.0    1
                2010.0    1
                2014.0    1
                2016.0    1
Amphianthidae   1991.0    1
                1993.0    1
Capneidae       1992.0    1
Diadumeniidae   1995.0    1
Edwardsiidae    1976.0    1
                1992.0    1
                2008.0    1
                2017.0    1
Gonactiniidae   1975.0    1
                1989.0    1
Hormathiidae    1990.0    2
                2009.0    1
Incertae sedis  1995.0    1
Metridiidae     1982.0    1
                1994.0    1
                2010.0    1
Phymanthidae    2001.0    1
                2021.0    1
Sargatiidae     1981.0    1
                1989.0    1
                1991.0    1
                1996.0    1
dtype: int64

## Number of studies that had field work:

In [ ]:
planilha['field_work'].value_counts()

Yes    51
No     14
Name: field_work, dtype: int64

## Sample periodicity

In [ ]:
planilha['periodicity'].value_counts()

Monthly    37
Other      14
Name: periodicity, dtype: int64

## Type of reproductive tissue studied:

In [ ]:
planilha['gamete'].value_counts().sort_index()

Oocyte                   19
Oocyte and Spermaries    55
Spermaries                9
Name: gamete, dtype: int64

## Sampling of temperature and salinity:

In [ ]:
planilha['tempsal'].value_counts().sort_index()

No     45
Yes    20
Name: tempsal, dtype: int64

## Studies that have used some spermatic cyst classification:

In [ ]:
planilha['spermclass'].value_counts()

No     46
Yes    19
Name: spermclass, dtype: int64

## Most used spermatic cyst classification:

In [ ]:
planilha['type_spermclass'].value_counts()

Carter & Miles 1989        2
Jannison 1979              2
Wedi & Dunn 1983           2
Kruger and Schleyer        1
Scott and Harrison 2009    1
Shawn 1989                 1
Buckling 1982              1
Fukui, 1995                1
Lin et al. 1992            1
Lombardi & Lesser, 2010    1
Sebens, 1981               1
Scott & Harrison 2009      1
Sheridan & Fautin 2015     1
Bucklin, 1979              1
Lin et al. 2001            1
Sheridan et al 2015        1
Name: type_spermclass, dtype: int64

## Use of some microanatomic method:

In [ ]:
planilha['histology'].value_counts()

Yes    57
No      8
Name: histology, dtype: int64

## Mention of the presence of hermaphrodites in each species register:

In [ ]:
planilha['hermaphro'].value_counts()

No     66
Yes    17
Name: hermaphro, dtype: int64

## Hermaphrodites per family and species:

In [ ]:
planilha[['family','species','hermaphro']].value_counts().sort_index()

family          species                     hermaphro
Actiniidae      Actinia bermudensis         No           1
                Actinia equina              No           3
                                            Yes          2
                Actinia fragacea            No           5
                Actinia tenebrosa           No           3
                Anemonia sulcata            No           2
                Anemonia viridis            No           1
                Anthopleura asiatica        No           1
                Anthopleura dixoniana       No           1
                Anthopleura elegantissima   No           2
                                            Yes          1
                Anthopleura handii          Yes          1
                Anthopleura xanthogrammica  No           1
                Aulactinia sinensis         No           1
                Bunodosoma cavernata        No           3
                                            Yes          1
                Condylactis gigantea        Yes          2
                Cribrinopsis fernaldi       No           1
                Entacmaea quadricolor       No           2
                Epiactis georgiana          Yes          1
                Epiactis lisbethae          Yes          1
                Epiactis prolifera          Yes          2
                Urticina lofotensis         No           1
                Utricina crassicornis       No           1
Actinostolidae  Glandulactis spetbergensis  No           1
Aiptasiidae     Aiptasia diaphana           No           1
                                            Yes          2
                Aiptasia pulchella          No           2
                Bartholomea annulata        Yes          1
                Exaiptasia pallida          No           3
Amphianthidae   Amphianthus dorhni          No           1
                Amphianthus inornata        No           1
Capneidae       Actinoporus elongatus       No           1
Diadumeniidae   Diadumene lineata           No           2
Edwardsiidae    Nematostella vectensis      No           4
Gonactiniidae   Gonactinia  prolifera       No           2
                Protanthea simplex          No           2
Hormathiidae    Allantactis parasitica      No           1
                Calliactis parasitica       No           1
                Paracalliactis stephensoni  Yes          1
                Phelliactis hertwig         No           1
                Phelliactis robusta         No           1
Incertae sedis  Tricnidactis errans         No           1
Kadosactinidae  Kadosactis commensalis      Yes          1
Metridiidae     Metridium senile            No           4
Phymanthidae    Phymanthus crucifer         No           1
                Phymanthus punnulatus       No           1
                Phymanthus strandesi        No           1
Sargatiidae     Anthothoe albocincta        No           1
                Cereus pedunculatus         No           1
                                            Yes          1
                Sagartia elegans            No           1
                Sagartia troglodites        No           2
dtype: int64

## Number of studies by country

In [ ]:
planilha['country'].value_counts()

United States     21
United Kingdom    10
Australia          5
Japan              3
Israel             3
Taiwan             3
Sweden             2
Germany            2
France             2
Canada             2
China              2
Malaysia           1
Netherlands        1
New Zeland         1
Italy              1
Argentina          1
Spain              1
Singapore          1
Morroco            1
Ireland            1
Russia             1
Name: country, dtype: int64

## Studies for each Marine Realm

In [ ]:
planilha['realm'].value_counts(sort=False)

Temperate Northern Atlantic    19
Central Indo-Pacific            6
Temperate Australasia           6
Deep Sea                        7
Temperate Northern Pacific     12
Tropical Atlantic               3
Temperate South America         1
Name: realm, dtype: int64

## Studies for each Marine Province

In [ ]:
planilha['province'].value_counts(sort=False)

Northern European Seas                  12
Mediterranean Sea                        5
South China Sea                          4
Southeast Australian Shelf               2
Deep Sea                                 7
Cold Temperate Northeast Pacific         8
West Central Australian Shelf            1
Sunda Shelf                              2
Cold Temperate Northwest Pacific         3
Warm Temperate Northwest Atlantic        1
Tropical Northwestern Atlantic           3
Cold Temperate Northwest Atlantic        1
Southern New Zealand                     1
Warm Temperate Southwestern Atlantic     1
East Central Australian Shelf            1
Northeast Australian Shelf               1
Warm Temperate Northwest Pacific         1
Name: province, dtype: int64

In [ ]:
planilha[['species','malepeak']].value_counts().sort_index()

species                     malepeak
Actinia equina              July/August                                                                                 1
                            June/July/August                                                                            1
Actinia tenebrosa           December /January/February                                                                  2
                            January/February/April                                                                      1
Actinoporus elongatus       February                                                                                    1
Aiptasia diaphana           April/May/June                                                                              1
                            April/May/June/July/August                                                                  1
Allantactis parasitica      March/April/May/June/July/August/September /October                                         1
Anemonia sulcata            April                                                                                       1
                            July/August/September                                                                       1
Anemonia viridis            April/May/June                                                                              1
Anthopleura asiatica        September /October                                                                          1
Anthopleura dixoniana       July                                                                                        1
Anthopleura elegantissima   July/August/September                                                                       1
                            September /October                                                                          1
                            September /October /November                                                                1
Anthopleura xanthogrammica  August/September /October                                                                   1
Anthothoe albocincta        March/April                                                                                 1
Aulactinia sinensis         May/June/July                                                                               1
Bartholomea annulata        December /May                                                                               1
Bunodosoma cavernata        October /November                                                                           1
Condylactis gigantea        June                                                                                        1
                            May                                                                                         1
Cribrinopsis fernaldi       March                                                                                       1
Diadumene lineata           July/August                                                                                 1
Entacmaea quadricolor       January/February/March/April                                                                1
                            September /October                                                                          1
Gonactinia  prolifera       June/October/November                                                                       1
Metridium senile            August /September                                                                           1
                            September /October/November                                                                 1
Paracalliactis stephensoni  April/May                                                                                   1
Phymanthus crucifer         February/March/May                                                                          1
Phymanthus strandesi        January/February/March/April/May/June/July/August/September /October /November /December    1
Sagartia elegans            June/July                                                                                   1
Sagartia troglodites        February/March/April                                                                        1
Urticina lofotensis         November /December                                                                          1
dtype: int64